<div class="container">
  <br>
  <turbo-frame id="email">
    <h2><%= @email.object %></h2>
    <p><%= @email.body %></p>
    <%= button_to "Delete", @email, method: :delete, data: { turbo_frame: "_top" }, class:"btn btn-danger" %>
  </turbo-frame>
</div>